body{
    background-color: rgb(82, 50, 8);
}
.cards{
    display:grid;
    grid-template-columns: repeat(4,1fr); 
} 
.card{
     
    margin: 10px;
   
}
.premium{
    background-color: rgb(202, 194, 200);
    opacity: 0.5;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.Simple{
    background-color: rgb(244, 236, 239);
    font-family:cursive;
    opacity: 0.5;
     text-align: center;
     box-shadow: 20px 20px 20px 20px wheat;
}

  
    footer {
    margin-bottom:-10px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #5e1a1a;
    background-color: #987c56;
    opacity: 0.6;
  }

  
.cards2 card-img-top{

width:100%;
height:100%;
object-fit: cover;

 
} 
.cards2{
    display:grid;
grid-template-columns: repeat(4,1fr);


}
.card{
box-shadow:20px 30px 20px 30px rgb(46, 31, 2);
}
.birth{
    display:grid;
    grid-template-columns: repeat(4,1fr);

}
.btn1{
    background-color: brown;
    border:20px 20px 20px 20px ;
    position:relative;
    left:1250px;
    bottom:30px;
    color:white;
    height:50px;
    width:150px;
}
.navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #96604c;
      padding: 10px 30px;
      height:100px;
      color: white;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      opacity:0.8;
      width:1540px;
    }

    /* Logo Section */
    .navbar .logo {
      display: flex;
      align-items: center;
      
      gap: 10px;
    }

    .navbar .logo img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    .navbar .logo h2 {
      margin: 0;
      font-size: 20px;
      color: #fff;
    }

    /* Menu Links */
    .navbar ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      gap: 25px;
    }

    .navbar ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      transition: color 0.3s ease;
    }

    .navbar ul li a:hover {
      color: #00bcd4;
    }