

    body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      /*background-image: url("./assets/WhatsApp\ Image\ 2025-11-07\ at\ 4.21.11\ PM.jpeg");*/
      
    }

    /* Navbar Container */
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #96604c;
      padding: 10px 30px;
      height:100px;
      color: white;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      opacity:0.8;
      width:1600px;
    }

    /* Logo Section */
    .navbar .logo {
      display: flex;
      align-items: center;
      
      gap: 10px;
    }

    .navbar .logo img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    .navbar .logo h2 {
      margin: 0;
      font-size: 20px;
      color: #fff;
    }

    /* Menu Links */
    .navbar ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      gap: 25px;
    }

    .navbar ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      transition: color 0.3s ease;
    }

    .navbar ul li a:hover {
      color: #00bcd4;
    }
    /*bg image*/
    .bg{
      position: absolute;
    }
    /*since*/
  .since{
    background-color: #493128;
    position:relative;
    left:1200px;
    bottom: -700px;
    height:50px;
    width:400px;
    font-style: italic;
    opacity:0.9;
  }
  /*quote*/
  .quote{
    background: #96604c;
    position:relative;
    top:-40px;
    opacity:0.7;
    text-align: center;
    width:1600px;
  }
  

     
  
  
  /*
  .footer-links {
     position:relative;
   
  }*/